@page "/"
@using BlazorStandAlone.Components;

<PageTitle>Home</PageTitle>

@* <GreetingsComponent Greet="Ammara"/>  *@

<a href="/To-Do-List">To Do List</a>

<h1>Hello, world!</h1>

Welcome to your new app.
